$border-color: #abb4cd;
$main-background-color: #edeef3;

@import "normalize";
@import "_header.scss";
@import "_section-details.scss";



ul, a {

	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;

}

body {

	background-color: $main-background-color;

}

.container {

	width: 80%;
	max-width: 1200px;
	margin: 0 auto;

}

.content-wrapper {

	background-color: #ffffff;
	border-collapse: $border-color;
}
